﻿@model TrainingManagement.Models.Training

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal">
            <hr />
            <div class="panel  panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h2> Training Details</h2>
                </div>

                <div class="alert alert-danger" role="alert"><h6 style="margin-top: -6px; margin-bottom: -13px;">Are you sure you want to delete this?</h6></div>
                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Training_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Training_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Technology)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Technology)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Days)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Days)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.place)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.place)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Seats)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Seats)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Start_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Start_Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.End_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.End_Date)
                    </dd>
                    <dt>

                    </dt>
                    <dd>

                    </dd>
                </dl>
            </div>
        </form>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
