﻿@model IEnumerable<TrainingManagement.Models.Training>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <hr />
        <form class="form-horizontal">
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h2>Available Training</h2>
                </div>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>


                <table class="table table-responsive thead-dark">
                    <tr>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Training_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Technology)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Days)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.place)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Seats)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Start_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.End_Date)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Training_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Technology)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Days)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.place)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seats)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Start_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.End_Date)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MasterID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MasterID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MasterID }) |
                                @Html.ActionLink("Register", "Register", new { id = item.MasterID })
                            </td>
                        </tr>
                    }

                </table>

                </div>
            </form>
        </div>
</body>
</html>
