﻿@model TrainingManagement.Models.Training

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div class="container">
        <form class="form-horizontal">
            <hr />
            <div class="panel  panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h2> Training Details</h2>
                </div>

                <hr />
                <dl class="dl-horizontal">
                   

                    <dt>
                        @Html.DisplayNameFor(model => model.Training_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Training_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Technology)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Technology)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Days)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Days)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.place)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.place)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Seats)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Seats)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Start_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Start_Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.End_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.End_Date)
                    </dd>
                    <dt></dt>
                    <dd>
                        
                            @Html.ActionLink("Save", "Save", new { /* id = Model.PrimaryKey */ }) |
                            @Html.ActionLink("Back to List", "Index")
                      
                    </dd>

                </dl>
            </div>
            </form>
        </div>
            
</body>
</html>
