﻿@model IEnumerable<TrainingManagement.Models.MenuMaster>
<div>
    <ul>
        @{foreach (var item in Model.Where(s => s.ParentID == 0).GroupBy(Obj => new { Obj.ID }).Distinct().ToList())
            {
                <li>
                    <a href="#">
                        @item.FirstOrDefault().Name
                    </a>
                    <ul>
                        @{foreach (var firstItem in (Model.Where(s => s.ParentID == item.FirstOrDefault().ID).ToList()))
                            {
                                <li>
                                    <a href="#">
                                        @firstItem.Name
                                    </a>
                                    <ul>
                                        @foreach (var secondItem in (Model.Where(s => s.ParentID == firstItem.ID).ToList()))
                                        {
                                            <li>
                                                <a href="#">
                                                    @secondItem.Name
                                                </a>

                                            </li>

                                        }
                                    </ul>

                                </li>

                            }
                        }
                    </ul>
                </li>

            }
        }
    </ul>
</div>

