﻿@model TrainingManagement.Models.Trainer

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>




    <div class="container">
        <form class="form-horizontal">
            <hr />
            <div class="panel  panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h2> Trainer Details</h2>
                </div>

                <div class="alert alert-danger" role="alert"><h6 style="margin-top: -6px; margin-bottom: -13px;">Are you sure you want to delete this?</h6></div>
                <hr />

                <dl class="dl-horizontal">
                    @Html.HiddenFor(model => model.TrainerId, htmlAttributes: new { id = "txtID" })

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "txtName" } })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Technology)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Technology, new { htmlAttributes = new { @class = "form-control", id = "txtTechnology" } })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Experience)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control", id = "txtExperience" } })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", id = "txtContactNo" } })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "txtEmail" } })
                    </dd>
                    <hr />
                    <dt></dt>
                    <dd>

                    </dd>
                </dl>


                @*<script type="text/javascript">
                    $("#btnDelete").on("click", function () {
                        var Trainer = {
                            "SelectType": 3,"TrainerID":$("#txtID").val(),"Name": $("#txtName").val(), "Technology": $("#txtTechnology").val(),
                            "Experience": $("#txtExperience").val(), "ContactNo": $("#txtContactNo").val(),"Email" :$("#txtEmail").val(),"Deleted":1
                        };

                        $.ajax({
                            url: '@Url.Action("Update","Trainer")',
                            type: "POST",
                            dataType: 'application/json; charset=utf-8',
                            data: Trainer,

                        beforeSend: function () {
                        },
                        success: function (data, status, jqXHR) {
                            alert("Successfully saved");
                        },
                        error: function (jqXHR, status, err) {
                            alert("Error");
                        },
                        complete: function (jqXHR, status) {

                        }
                    });
                });
                                </script>*@


            </div>
        </form>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</body>
</html>
