﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <br />


        <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2>Create</h2>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                      
                            <div class="form-group col-md-6">
                                <div class="col-md-2">
                                    <label>Name :</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-2">
                                    <label>Address :</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                       
                        <div class="form-group">
                            <div class="col-md-4">

                                <a href="@Url.Action("List", "Student")">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
@ViewBag.xyz
</html>
