﻿@model TrainingFirstApp.Models.Student
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <div class="container">
        <div class="panel panel-success">
            <div class="panel panel-heading" style="text-align:center;">
                Student Info
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-1">
                            @Html.LabelFor(Model => Model.StudID,  new { @class = "control-label" , style="color:Red;"})
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(Model => Model.StudID,  new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            @Html.LabelFor(Model => Model.Name,new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            @Html.LabelFor(Model => Model.Course,  new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(Model => Model.Course,  new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            @Html.LabelFor(Model => Model.Age,  new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(Model => Model.Age,  new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            @Html.LabelFor(Model => Model.Email,  new { @class = "control-label" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(Model => Model.Email,  new { @class = "form-control" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
