﻿@model IList<TrainingFirstApp.Models.Student>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />
<div class="container">
    <div class="panel panel-success">
        <div class="panel panel-heading" style="text-align:center;">
            Student Info
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <table class="table table-bordered table-condensed table-responsive">
                    <thead style="background-color:antiquewhite;">
                        <tr >
                            <th style="text-align:center;">ID</th>
                            <th style="text-align:center;">Name</th>
                            <th style="text-align:center;">Age</th>
                            <th style="text-align:center;">Course</th>
                            <th style="text-align:center;">Email</th>
                        </tr>
                    </thead>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => item.StudID, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Name, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Age, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Course, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Email, new { @class = "form-control" })
                            </td>
                        </tr>
                    }



                </table>
            </div>
        </div>
    </div>
</div>
